<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:motan="http://api.weibo.com/schema/motan"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
   http://api.weibo.com/schema/motan http://api.weibo.com/schema/motan.xsd">

    
    <motan:referer  id="userAppService"  basicReferer="basicRefererConfig" interface="com.itpay.mp.user.app.UserAppService" />
    <!--登陆用户信息-->
    <motan:referer  id="userLoginAppService"  basicReferer="basicRefererConfig" interface="com.itpay.mp.user.app.UserLoginAppService" />
    <!--角色接口-->
    <motan:referer  id="mpRoleAppService"  basicReferer="basicRefererConfig" interface="com.itpay.mp.user.app.MpRoleAppService" />
    <!--权限接口-->
    <motan:referer  id="mpPermissionAppSerice"  basicReferer="basicRefererConfig" interface="com.itpay.mp.user.app.MpPermissionAppSerice" />

</beans>