.test-color {
    color: white;
}

div.login-box-body {
    background-color: rgba(0, 0, 0, 0.23);
}

div.login-box {
    margin: auto ;
    position: absolute;
    right: 10%;
    top: 20%;
}

body.login-page {
    background: url("../imgs/background.jpg") no-repeat;
    background-size: 100% 100%;
}

input.form-control {
    color: white;
    background-color: rgba(226, 110, 90, 0.05);
}

img.form-control.captcha{
    padding: 0 0;
}
.error-message{
    color: #dd4b39;
}

/*.tab-content >ul{*/
    /*background-color: #357ca5;*/
/*}*/

.nav-tabs>li>a{
    border: 1px solid #ddd;
    margin-right: -1px;
    color:black;
}
/*tab 明细里面增加关闭按钮*/
.nav-tabs>li>a>span.fa.fa-times {
    right: 1px;top:1px;
    position:absolute;
    color: #97a0b3
}
/*tab  关闭按钮鼠标移动上去的效果*/
.nav-tabs>li>a>span.fa.fa-times:hover {
    color: black;
}